asgiref==3.7.2
dj-database-url==2.1.0
Django==3.2
django-cleanup==6.0.0
django-jazzmin==2.6.0
django-unused-media==0.2.2
greenlet==3.0.2
gunicorn==21.2.0
packaging==23.2
Pillow==9.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.0
pytz==2023.3.post1
six==1.16.0
SQLAlchemy==1.4.37
sqlparse==0.4.4
typing_extensions==4.9.0
whitenoise==5.2.0
