{% extends 'base.html' %}
{% block title%}Hotels{% endblock %}
{% block active_hotel %}active-link{% endblock %}

{% load static %}

{% block body %}


<section class="home" id="home">
    <img src="{% static 'assets/img/hotel.jpg' %}" class="home__img">
    <div class="home__container container grid">
        <div class="home__data">
            <h1 class="home__data-title">Hotels & <br><b>Resorts<br>to Stay</b></h1>
            <h2 class="support__data-subtitle"><b>Top stay options curated by Adda Travelling for your Travel needs</b><br></h2>
        </div>
        <div class="support__social">
            <a href="https://www.facebook.com/profile.php?id=100077115270793" target="_blank" class="sl-fb">
                <i class="ri-facebook-box-fill"></i>
            </a>
            <a href="https://instagram.com/adda_travelling?utm_medium=copy_link" target="_blank" class="sl-ig">
                <i class="ri-instagram-fill"></i>
            </a>
            <a href="https://twitter.com/AddaTravelling?t=B1e1tcvgpRRHx_3Keq51TQ&s=08" target="_blank" class="sl-tw">
                <i class="ri-twitter-fill"></i>
            </a>
            <a href="https://chat.whatsapp.com/C6hBVWVTERPCQNrABx5ad1" target="_blank" class="sl-wp">
                <i class="ri-whatsapp-fill"></i>
            </a>
            <a href="https://youtube.com/channel/UCpmFodDx9xfJ8YjAXGgcuxg" target="_blank" class="sl-yt">
                <i class="ri-youtube-fill"></i>
            </a>
        </div>
    </div>
</section>
<section class="discover section">
    <p class="section__title">Hotels & resorts to stay
    </p>
    <p class="video__description">Top stay options curated by Adda Travelling for your travel needs</p>
    <p class="section__title"><br>Top Beach Destinations</p>
    <div class="place__container container grid">
        {% for i in beach %}
        <div class="hotel__card">
            <img src="{{i.image.url}}" alt="" class="hotel__img">
            <div class="place__content">
                <span class="hotel__rating">
                    {{i.rating}}
                </span>
                <div class="hotel__data">
                    <h3 class="hotel__title">{{i.hotel_title}}</h3>
                    <h2 class="hotel__description">{{i.discription}}</h2>
                    <span class="hotel__description">{{i.price}}</span>
                </div>
            </div>
            <a href="{{i.hotel_id}}">
                <button class="button button--flex
                hotel__button">
                    <i class="ri-arrow-right-line"></i>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<section class="discover section">
    <p class="section__title">Top Destinations for Honeymoon</p>
    <div class="place__container container grid">
        {% for i in lake %}        
        {% if forloop.counter <= 4 %}
        <div class="hotel__card">
            <img src="{{i.image.url}}" alt="" class="hotel__img">
            <div class="place__content">
                <span class="hotel__rating">
                    {{i.rating}}
                </span>
                <div class="hotel__data">
                    <h3 class="hotel__title">{{i.hotel_title}}</h3>
                    <h2 class="hotel__description">{{i.discription}}</h2>
                    <span class="hotel__description">{{i.price}}</span>
                </div>
            </div>
            <a href="{{i.hotel_id}}">
                <button class="button button--flex
                hotel__button">
                    <i class="ri-arrow-right-line"></i>
                </button>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% for i in hill %}
        {% if forloop.counter <= 7 %}
        <div class="hotel__card">
            <img src="{{i.image.url}}" alt="" class="hotel__img">
            <div class="place__content">
                <span class="hotel__rating">
                    {{i.rating}}
                </span>
                <div class="hotel__data">
                    <h3 class="hotel__title">{{i.hotel_title}}</h3>
                    <h2 class="hotel__description">{{i.discription}}</h2>
                    <span class="hotel__description">{{i.price}}</span>
                </div>
            </div>
            <a href="{{i.hotel_id}}">
                <button class="button button--flex
                hotel__button">
                    <i class="ri-arrow-right-line"></i>
                </button>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% for i in beach %}
        {% if forloop.counter <= 7 %}
        <div class="hotel__card">
            <img src="{{i.image.url}}" alt="" class="hotel__img">
            <div class="place__content">
                <span class="hotel__rating">
                    {{i.rating}}
                </span>
                <div class="hotel__data">
                    <h3 class="hotel__title">{{i.hotel_title}}</h3>
                    <h2 class="hotel__description">{{i.discription}}</h2>
                    <span class="hotel__description">{{i.price}}</span>
                </div>
            </div>
            <a href="{{i.hotel_id}}">
                <button class="button button--flex
                hotel__button">
                    <i class="ri-arrow-right-line"></i>
                </button>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<section class="discover section">
    <p class="section__title">Top Hill Stations</p>
    <div class="place__container container grid">
        {% for i in hill %}
        <div class="hotel__card">
            <img src="{{i.image.url}}" alt="" class="hotel__img">
            <div class="place__content">
                <span class="hotel__rating">
                    {{i.rating}}
                </span>
                <div class="hotel__data">
                    <h3 class="hotel__title">{{i.hotel_title}}</h3>
                    <h2 class="hotel__description">{{i.discription}}</h2>
                    <span class="hotel__description">{{i.price}}</span>
                </div>
            </div>
            <a href="{{i.hotel_id}}">
                <button class="button button--flex
                hotel__button">
                    <i class="ri-arrow-right-line"></i>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<section class="discover section">
    <p class="section__title"><br>Top Historical Destinations</p>
    <div class="place__container container grid">
        {% for i in hist %}
        <div class="hotel__card">
            <img src="{{i.image.url}}" alt="" class="hotel__img">
            <div class="place__content">
                <span class="hotel__rating">
                    {{i.rating}}
                </span>
                <div class="hotel__data">
                    <h3 class="hotel__title">{{i.hotel_title}}</h3>
                    <h2 class="hotel__description">{{i.discription}}</h2>
                    <span class="hotel__description">{{i.price}}</span>
                </div>
            </div>
            <a href="{{i.hotel_id}}">
                <button class="button button--flex
                hotel__button">
                    <i class="ri-arrow-right-line"></i>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<section class="discover section">
    <p class="section__title"><br>Top Spiritual Destinations</p>
    <div class="place__container container grid">
        {% for i in spt %}
        <div class="hotel__card">
            <img src="{{i.image.url}}" alt="" class="hotel__img">
            <div class="place__content">
                <span class="hotel__rating">
                    {{i.rating}}
                </span>
                <div class="hotel__data">
                    <h3 class="hotel__title">{{i.hotel_title}}</h3>
                    <h2 class="hotel__description">{{i.discription}}</h2>
                    <span class="hotel__description">{{i.price}}</span>
                </div>
            </div>
            <a href="{{i.hotel_id}}">
                <button class="button button--flex
                hotel__button">
                    <i class="ri-arrow-right-line"></i>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<section class="discover section">
    <p class="section__title"><br>Lakes & River</p>
    <div class="place__container container grid">
        {% for i in lake %}
        <div class="hotel__card">
            <img src="{{i.image.url}}" alt="" class="hotel__img">
            <div class="place__content">
                <span class="hotel__rating">
                    {{i.rating}}
                </span>
                <div class="hotel__data">
                    <h3 class="hotel__title">{{i.hotel_title}}</h3>
                    <h2 class="hotel__description">{{i.discription}}</h2>
                    <span class="hotel__description">{{i.price}}</span>
                </div>
            </div>
            <a href="{{i.hotel_id}}">
                <button class="button button--flex
                hotel__button">
                    <i class="ri-arrow-right-line"></i>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<section class="discover section">
    <p class="section__title">Collections of top Trending Places</p>
    <div class="place__container container grid">
        {% for item in allhotel %}
        <div class="hotel__card">
            <img src="{{item.image.url}}" alt="" class="hotel__img">
            <div class="place__content">
                <span class="hotel__rating">
                    {{item.rating}}
                </span>
                <div class="hotel__data">
                    <h3 class="hotel__title">{{item.hotel_title}}</h3>
                    <h2 class="hotel__description">{{item.discription}}</h2>
                    <span class="hotel__description">{{item.price}}</span>
                </div>
            </div>
            <a href="{{item.hotel_id}}">
                <button class="button button--flex
                hotel__button">
                    <i class="ri-arrow-right-line"></i>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
