<!-- ##### Base Template ##### -->
{% extends 'base.html' %}
{% block title %}Adda Travelling{% endblock %}
{% block active_home %}active-link{% endblock %}
{% load static %}
{% block body %}
<!--==================== HOME ====================-->
<section class="home" id="home">
    <img src="{% static 'assets/img/place.jpg' %}" class="home__img">

    <div class="home__container container grid">
        <div class="home__data">
            <h1 class="home__data-subtitle">Discover your place</h1>
            <h1 class="home__data-title">Explore The <br> Best <b>Beautiful
                        <br> Places</b></h1>
            <a href="/places" class="button">Explore</a>
        </div>
        <div class="home__social">
            <a href="https://www.facebook.com/profile.php?id=100077115270793" target="_blank" class="hl-fb">
                <i class="ri-facebook-box-fill"></i>
            </a>
            <a href="https://instagram.com/adda_travelling?utm_medium=copy_link" target="_blank" class="hl-ig">
                <i class="ri-instagram-fill"></i>
            </a>
            <a href="https://twitter.com/AddaTravelling?t=B1e1tcvgpRRHx_3Keq51TQ&s=08" target="_blank" class="hl-tw">
                <i class="ri-twitter-fill"></i>
            </a>
            <a href="https://chat.whatsapp.com/C6hBVWVTERPCQNrABx5ad1" target="_blank" class="hl-wp">
                <i class="ri-whatsapp-fill"></i>
            </a>
            <a href="https://youtube.com/channel/UCpmFodDx9xfJ8YjAXGgcuxg" target="_blank" class="hl-yt">
                <i class="ri-youtube-fill"></i>
            </a>
        </div>
        <div class="home__info">
            <div>
                <span class="home__info-title">Top Hotels<br>for Your Destinations</span>
                <a href="/hotels" class="button button--flex
                        button--link home__info-button">
                        More <i class="ri-arrow-right-line"></i>
                    </a>
            </div>
            <div class="home__info-overlay">
                <img src="{% static 'assets/img/Dharamshala-Sightseeing.jpg' %}" alt="" class="home__info-img">
            </div>
        </div>
    </div>
</section>
<!--==================== ABOUT ====================-->
    <section class="about section" id="about">
            <div class="about__container container grid">
                <div class="about__data">
                    <p class="section__title about__title">More Information
                        <br> About The Best Places</p>
                    <p class="about__description">You can find the most beautiful and pleasant places at the best prices with special discounts, you choose the place we will guide you all the way to wait, get your place now.
                    </p>
                    <a href="/places" class="button">Reserve a place</a>
                </div>
                <div class="about__img">
                    <div class="about__img-overlay">
                        <img src="{% static 'assets/img/400pxTaj_Mahal_2002.jpeg' %}" alt="" class="about__img-one">
                    </div>
                    <div class="about__img-overlay">
                        <img src="{% static 'assets/img/Hawa Mahal.jpg' %}" alt="" class="about__img-two">
                    </div>
                </div>
            </div>
    </section>
<!--==================== DISCOVER ====================-->
    <section class="discover section" id="discover">
            <p class="section__title">Discover the most <br> attractive places
            </p>
            <div class="discover__container container swiper-container">
                <div class="swiper-wrapper">
                    <!--==================== DISCOVER 1 ====================-->
                    <div class="discover__card swiper-slide">
                        <img src="{% static 'assets/img/Golden temple.jpeg' %}" alt="" class="discover__img">
                        <div class="discover__data">
                            <h2 class="discover__title">Golden Temple</h2>
                            <h2 class="discover__description">13 tours available
                            </h2>
                        </div>
                    </div>
                    <!--==================== DISCOVER 2 ====================-->
                    <div class="discover__card swiper-slide">
                        <img src="{% static 'assets/img/Rajasthan.jpeg' %}" alt="" class="discover__img">
                        <div class="discover__data">
                            <h2 class="discover__title">Rajasthan</h2>
                            <h2 class="discover__description">24 tours available
                            </h2>
                        </div>
                    </div>
                    <!--==================== DISCOVER 3 ====================-->
                    <div class="discover__card swiper-slide">
                        <img src="{% static 'assets/img/Gujrat.jpeg' %}" alt="" class="discover__img">
                        <div class="discover__data">
                            <h2 class="discover__title">Gujrat</h2>
                            <h2 class="discover__description">18 tours available
                            </h2>
                        </div>
                    </div>
                    <!--==================== DISCOVER 4 ====================-->
                    <div class="discover__card swiper-slide">
                        <img src="{% static 'assets/img/Rajasthan2.jpeg' %}" alt="" class="discover__img">
                        <div class="discover__data">
                            <h2 class="discover__title">Madhya Pradesh</h2>
                            <h2 class="discover__description">40 tours available
                            </h2>
                        </div>
                    </div>
                    <!--==================== DISCOVER 5 ====================-->
                    <div class="discover__card swiper-slide">
                        <img src="{% static 'assets/img/discover4.jpg' %}" alt="" class="discover__img">
                        <div class="discover__data">
                            <h2 class="discover__title">Goa Beaches</h2>
                            <h2 class="discover__description">32 tours available
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
    </section>
<!--==================== EXPERIENCE ====================-->
    <section class="experience section">
            <p class="section__title">With Our Experience <br> We Will Serve You</p>

            <div class="experience__container container grid">
                <div class="experience__content grid">
                    <div class="experience__data">
                        <h2 class="experience__number">13</h2>
                        <span class="experience__description">Months <br>
                                Experience</span>
                    </div>

                    <div class="experience__data">
                        <h2 class="experience__number">45</h2>
                        <span class="experience__description">Complete <br>
                                Tours</span>
                    </div>

                    <div class="experience__data">
                        <h2 class="experience__number">150+</h2>
                        <span class="experience__description">Tourist <br>
                                Destination</span>
                    </div>
                </div>
                <div class="experience__img grid">
                    <div class="experience__overlay">
                        <img src="{% static 'assets/img/Haridwar-Kumbh-Mela.jpg' %}" alt="" class="experience__img-one">
                    </div>

                    <div class="experience__overlay">
                        <img src="{% static 'assets/img/Auli-Hill-station.jpg' %}" alt="" class="experience__img-two">
                    </div>
                </div>
            </div>
    </section>
<!--==================== VIDEO ====================-->
    <section class="video section">
            <p class="section__title">Video Tour</p>
            <div class="video__container container">
                <p class="video__description">Find out more with our video of the most beautiful and pleasant places for you and your family.
                </p>

                <div class="video__card">
                <!--==================== VIDEO CARD LOOP ====================-->
                    {% for item in paginated_data.Video %}
                    <div class="video__container container">
                        <div class="video__content">
                            <iframe src="{{item.url}}">
                                </iframe>
                            <h1 class="video__title">{{item.title}}</h1>
                            <h3 class="video__star">{{item.rating}}</h3>
                        </div>
                        <div class="video__content2">
                            <iframe src="{{item.url}}">
                                </iframe>
                            <h1 class="video__title">{{item.title}}</h1>
                            <h3 class="video__star">{{item.rating}}</h3>
                        </div>
                        <div class="video__content3">
                            <iframe src="{{item.url}}">
                                </iframe>
                            <h1 class="video__title">{{item.title}}</h1>
                            <h3 class="video__star">{{item.rating}}</h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
    </section>
<!--==================== ARTICLES ====================-->
    <section class="article section" id="article">
            <div class="article__container container grid">
                <div class="article__data">
                    <p class="section__title">Articles <br> Most Visited Places
                    </p>
                    <p class="article__description">You can find the most visited places at our article section, you can find the proper knowledge of your destination with the help of our article section.
                    </p>
                    <a href="/articles" class="button">More Articles</a>
                </div>
                <!--==================== ARTICLE CARD ====================-->
                <div class="article__card">
                    <div class="article__img">
                        <div class="article__img-overlay">
                            <img src="{{paginated_data.Article.11.image.url}}" alt="" class="article__img-one">
                            <h1 class="article__title">{{paginated_data.Article.11.title}}</h1>
                            <h3 class="article__star">{{paginated_data.Article.11.rating}}</h3>
                            <p class="article__para">{{paginated_data.Article.11.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="article__card">
                    <div class="article__img">
                        <div class="article__img-overlay">
                            <img src="{{paginated_data.Article.18.image.url}}" alt="" class="article__img-one">
                            <h1 class="article__title">{{paginated_data.Article.18.title}}</h1>
                            <h3 class="article__star">{{paginated_data.Article.18.rating}}</h3>
                            <p class="article__para">{{paginated_data.Article.18.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="article__card">
                    <div class="article__img">
                        <div class="article__img-overlay">
                            <img src="{{paginated_data.Article.34.image.url}}" alt="" class="article__img-one">
                            <h1 class="article__title">{{paginated_data.Article.34.title}}</h1>
                            <h3 class="article__star">{{paginated_data.Article.34.rating}}</h3>
                            <p class="article__para">{{paginated_data.Article.34.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="article__card">
                    <div class="article__img">
                        <div class="article__img-overlay">
                            <img src="{{paginated_data.Article.35.image.url}}" alt="" class="article__img-one">
                            <h1 class="article__title">{{paginated_data.Article.35.title}}</h1>
                            <h3 class="article__star">{{paginated_data.Article.35.rating}}</h3>
                            <p class="article__para">{{paginated_data.Article.35.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="article__card">
                    <div class="article__img">
                        <div class="article__img-overlay">
                            <img src="{{paginated_data.Article.47.image.url}}" alt="" class="article__img-one">
                            <h1 class="article__title">{{paginated_data.Article.47.title}}</h1>
                            <h3 class="article__star">{{paginated_data.Article.47.rating}}</h3>
                            <p class="article__para">{{paginated_data.Article.47.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="article__card">
                    <div class="article__img">
                        <div class="article__img-overlay">
                            <img src="{{paginated_data.Article.48.image.url}}" alt="" class="article__img-one">
                            <h1 class="article__title">{{paginated_data.Article.48.title}}</h1>
                            <h3 class="article__star">{{paginated_data.Article.48.rating}}</h3>
                            <p class="article__para">{{paginated_data.Article.48.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="article__card">
                    <div class="article__img">
                        <div class="article__img-overlay">
                            <img src="{{paginated_data.Article.58.image.url}}" alt="" class="article__img-one">
                            <h1 class="article__title">{{paginated_data.Article.58.title}}</h1>
                            <h3 class="article__star">{{paginated_data.Article.58.rating}}</h3>
                            <p class="article__para">{{paginated_data.Article.58.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="article__card">
                    <div class="article__img">
                        <div class="article__img-overlay">
                            <img src="{{paginated_data.Article.12.image.url}}" alt="" class="article__img-one">
                            <h1 class="article__title">{{paginated_data.Article.12.title}}</h1>
                            <h3 class="article__star">{{paginated_data.Article.12.rating}}</h3>
                            <p class="article__para">{{paginated_data.Article.12.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
<!--==================== HOTELS ====================-->
    <section class="discover section" id="hotel">
        <p class="section__title">Hotels & resorts to stay
        </p>
        <p class="video__description">Top Stay options curated by Adda Travelling for your Travel needs</p>
        <div class="place__container container grid">
                <!--==================== HOTEL CARD ====================-->
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.10.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.10.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.10.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.10.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.10.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.10.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.17.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.17.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.17.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.17.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.17.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.17.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.24.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.24.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.24.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.24.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.24.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.24.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.45.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.45.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.45.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.45.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.45.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.45.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.42.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.42.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.42.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.42.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.42.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.42.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.1.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.1.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.1.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.1.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.1.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.1.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.4.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.4.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.4.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.4.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.4.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.4.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.13.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.13.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.13.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.13.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.13.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.13.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.23.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.23.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.23.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.23.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.23.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.23.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.20.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.20.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.20.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.20.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.20.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.20.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.27.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.27.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.27.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.27.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.27.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.27.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.53.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.53.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.53.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.53.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.53.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.53.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.36.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.36.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.36.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.36.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.36.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.36.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.58.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.58.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.58.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.58.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.58.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.58.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="hotel__card">
                    <img src="{{paginated_data.Hotel.3.image.url}}" alt="" class="hotel__img">
                    <div class="place__content">
                        <span class="hotel__rating">
                            {{paginated_data.Hotel.3.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="hotel__title">{{paginated_data.Hotel.3.hotel_title}}</h3>
                            <h2 class="hotel__description">{{paginated_data.Hotel.3.discription}}</h2>
                            <span class="hotel__description">{{paginated_data.Hotel.3.price}}</span>
                        </div>
                    </div>
                    <a href="hotels/{{paginated_data.Hotel.3.hotel_title}}">
                        <button class="button button--flex
                        hotel__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
        </div>
    </section>
<!--====================PLACES====================-->
    <section class="place section" id="place">
            <p class="section__title">Choose Your Place</p>
            <div class="plac__container container grid">
                <!--==================== PLACES CARD LOOP ====================--> 
                <div class="place__card">
                    <img src="{{paginated_data.Place.34.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.34.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.34.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.34.location}}</span>
                            <span class="place__price">{{paginated_data.Place.34.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.34.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="place__card">
                    <img src="{{paginated_data.Place.0.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.0.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.0.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.0.location}}</span>
                            <span class="place__price">{{paginated_data.Place.0.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.0.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="place__card">
                    <img src="{{paginated_data.Place.15.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.15.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.15.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.15.location}}</span>
                            <span class="place__price">{{paginated_data.Place.15.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.15.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="place__card">
                    <img src="{{paginated_data.Place.17.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.17.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.17.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.17.location}}</span>
                            <span class="place__price">{{paginated_data.Place.17.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.17.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="place__card">
                    <img src="{{paginated_data.Place.21.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.21.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.21.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.21.location}}</span>
                            <span class="place__price">{{paginated_data.Place.21.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.21.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="place__card">
                    <img src="{{paginated_data.Place.16.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.16.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.16.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.16.location}}</span>
                            <span class="place__price">{{paginated_data.Place.16.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.16.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="place__card">
                    <img src="{{paginated_data.Place.31.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.31.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.31.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.31.location}}</span>
                            <span class="place__price">{{paginated_data.Place.31.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.31.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="place__card">
                    <img src="{{paginated_data.Place.3.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.3.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.3.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.3.location}}</span>
                            <span class="place__price">{{paginated_data.Place.3.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.3.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="place__card">
                    <img src="{{paginated_data.Place.4.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.4.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.4.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.4.location}}</span>
                            <span class="place__price">{{paginated_data.Place.4.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.4.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
                <div class="place__card">
                    <img src="{{paginated_data.Place.2.image.url}}" alt="" class="place__img">
                    <div class="place__content">
                        <span class="place__rating">
                            {{paginated_data.Place.2.rating}}
                        </span>
                        <div class="hotel__data">
                            <h3 class="place__title">{{paginated_data.Place.2.place_title}}</h3>
                            <span class="place__subtitle">{{paginated_data.Place.2.location}}</span>
                            <span class="place__price">{{paginated_data.Place.2.price}}</span>
                        </div>
                    </div>
                    <a href="places/{{paginated_data.Place.2.place_title}}">
                        <button class="button button--flex
                        place__button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </a>
                </div>
            </div>
    </section>
    
{% endblock %}

        
    