<!-- ##### Base Template ##### -->
{% extends 'base.html' %}
{% block title%}Privacy Policy{% endblock %}

{% load static %}

{% block body %}

<!--==================== HOME ====================-->

<section class="home" id="home">
    <img src="{% static 'assets/img/privacy.jpg' %}" alt="" class="home__img">
    <div class="home__container container grid">
        <div class="home__data">
            <h1 class="home__data-title">Welcome To<br><b>Privacy<br>Policy</b></h1>
            <h2 class="support__data-subtitle"><b>We want to empower you to make the best decisions about the information
            that you share with us. That's the basic purpose of this Privacy Policy.  
        </b></h2>
        </div>
        <div class="support__social">
            <a href="https://www.facebook.com/profile.php?id=100077115270793" target="_blank" class="sl-fb">
                <i class="ri-facebook-box-fill"></i>
            </a>
            <a href="https://instagram.com/adda_travelling?utm_medium=copy_link" target="_blank" class="sl-ig">
                <i class="ri-instagram-fill"></i>
            </a>
            <a href="https://twitter.com/AddaTravelling?t=B1e1tcvgpRRHx_3Keq51TQ&s=08" target="_blank" class="sl-tw">
                <i class="ri-twitter-fill"></i>
            </a>
            <a href="https://chat.whatsapp.com/C6hBVWVTERPCQNrABx5ad1" target="_blank" class="sl-wp">
                <i class="ri-whatsapp-fill"></i>
            </a>
            <a href="https://youtube.com/channel/UCpmFodDx9xfJ8YjAXGgcuxg" target="_blank" class="sl-yt">
                <i class="ri-youtube-fill"></i>
            </a>
        </div>
    </div>
</section>
<!--==================== PRIVACY POLICY ====================-->
<section class="article section" id="article">
    <div class="article__container container grid">
        <div class="article__data">
            <p class="section__title article__title">Privacy<br><b>Policy</b></p>
            <p class="article__para">* Welcome to Adda Travelling.com! This Privacy Statement, together with our Cookie Statement and Terms and Conditions, sets out the approach that we at adda Travelling.com take with regards to the collection and handling of any identifiable
                information about you, and applies to all Adda Travelling.com websites (including any affiliated sites), mobile apps, and other services operated by us (hereafter collectively referred to as the “Services”). We understand that
                providing information online involves a great deal of trust on your part. We take this trust very seriously and make it a high priority to ensure the security and confidentiality of the personal information you provide us when
                you visit our website or use our Services. Before providing us with your personal information, please read this Privacy Statement carefully to learn about our privacy practices.

                <br><br> * About This Privacy Statement and Adda Travelling.com When Does This Privacy Statement Apply? This Privacy Statement applies to information about you as an identifiable person that Adda Travelling.com or its mobile application
                collects from, or about you. This Privacy Statement does not apply to anonymous data that cannot identify you in any way. This website may contain links to third-party websites. Adda Travelling.com is not responsible for the privacy
                practices or the content of these third-party websites. We recommend that you carefully read the privacy statements of such sites. Data Controller The data controller of any and all information provided to or gathered by Adda Travelling.com
                and its mobile applications is Adda Travelling.com, a limited liability company. About Your Personal Information and Uses What Personal Information Does Adda Travelling.com Hold on Me and Others?

                <br><br> * Information You Provide Us Directly Adda Travelling.com collects and uses the information you provide to us directly in order to provide you with the services you request. For example, you may provide us your name, gender,
                birthday, mobile number, email, and other information when you register a Adda Travelling.com account. When booking flight or train tickets, or using our car rental service, you may provide passenger names, genders, ID document
                numbers and the contact person’s name, mobile number, email and delivery address, as well as other information.

                <br><br> * When booking hotels and tickets for tourist attractions, you may provide the travelers’ names, contact person’s name, mobile number, and email, etc. When paying for travel products, you may provide your bank card number,
                the mobile number previously provided to the bank, or your credit card number, cardholder name, expiry date, etc. In order for us to customize the services we provide you, we may also collect information about your travel plans
                and preferences which includes your meal requirements, departure date, check-in and check-out times, seat choice, ticket choice, insurance choice, and your selection of other services (such as car rental, attraction tickets, and
                travel guides, etc.) provided by Adda Travelling.com. If you need to get in touch with our customer service team, or reach out to us through other means (such as through social media) we will collect information from you there
                too, such as your name and contact information. This includes recording phone conversations, when you call us and when you answer our calls. You may also participate in referral programs or sweepstakes.

                <br><br> * Doing so will also mean providing us with your name and contact information. In addition to this, you can provide us with feedback or ask for help with using Adda Travelling.com’s travel services. You may be travelling
                with other guests or make a booking on someone else’s behalf, in which case you will provide similar details to Adda Travelling.com. However, we would like to remind you that it is your responsibility to ensure that the person
                or people whose personal information you have provided are aware that you’ve done so, and have agreed to your sharing of their personal information with adda Travelling.com for these purposes.

                <br><br> * Information We Collect Automatically Adda Travelling.com collects some information about you automatically.

                <br><br> * Specifically: Log information, which refers to information that the system may automatically collect through cookies, a web beacon, or other channels when you use our services, including: o Device information or software
                information, such as your IP address, software version and device identifier (IDFA / IMEI) of the mobile device you use, and configurations of the web browser or mobile device you use to access our services.

                <br><br> * Information that is searched for or browsed when you use our services, such as web pages used or terms searched and pages visited through the app, as well as other information browsed or provided when using our services.

                <br><br> * Information contained in the content you share through our services, such as a photo shared or uploaded, comments, and dates and times, etc.

                <br><br> * Information on your preferences, such as language, region and currency. Location information, which we collect when you turn on your device’s location feature and use our location-based services. This includes your geographical
                position information collected via GPS or WIFI, your address information contained in the account information you provide to us, and shared information uploaded by you or others showing your current or previous location. You can
                turn off the location feature to prevent us from collecting your location information. More information on how we use cookies can we found in our Cookie Statement below.

                <br><br> * Information We Receive Through Other Sources We will also obtain your information from affiliates and business partners. For example, when you make a booking or reservation through the website or mobile app of one of
                our affiliates or business partners, your booking or reservation information with them might be forwarded to us so that we can process your booking and ensure its success. Also, we allow you to log into Adda Travelling.com with
                your social media account, and with your consent (you grant authorization to the social platform), your personal information will be shared with us through that social platform. Additionally, we may integrate calling services into
                our platforms to enable you to connect with us, and when we do, we receive metadata about the call activities (such as where you called from, who you are, and the date and length of the call). · Special Categories of Personal Information
                In connection with fulfilling your travel requests for disability considerations and dietary preferences, some information you provide us with may be considered as “special category” personal information. How Does Adda Travelling.com
                Use My Personal Information?
            </p>
        </div>
    </div>
</section>

{% endblock %}
