<!-- ##### Base Template ##### -->
{% extends 'base.html' %}
{% block title%}Our Team{% endblock %}

{% load static %}

{% block body %}

<!--==================== HOME ====================-->

<section class="home" id="home">
    <img src="{% static 'assets/img/team.jpg' %}" alt="" class="home__img">
    <div class="home__container container grid">
        <div class="home__data">
            <h1 class="home__data-title">Know More <br><b>About<br>Our Team</b></h1>
            <h2 class="support__data-subtitle"><br><b>Hello I am Naveen Chaudhary <br>Founder & Designer of Adda Travelling.com</b></h2>
        </div>
        <div class="support__social">
            <a href="https://www.facebook.com/profile.php?id=100077115270793" target="_blank" class="sl-fb">
                <i class="ri-facebook-box-fill"></i>
            </a>
            <a href="https://instagram.com/adda_travelling?utm_medium=copy_link" target="_blank" class="sl-ig">
                <i class="ri-instagram-fill"></i>
            </a>
            <a href="https://twitter.com/AddaTravelling?t=B1e1tcvgpRRHx_3Keq51TQ&s=08" target="_blank" class="sl-tw">
                <i class="ri-twitter-fill"></i>
            </a>
            <a href="https://chat.whatsapp.com/C6hBVWVTERPCQNrABx5ad1" target="_blank" class="sl-wp">
                <i class="ri-whatsapp-fill"></i>
            </a>
            <a href="https://youtube.com/channel/UCpmFodDx9xfJ8YjAXGgcuxg" target="_blank" class="sl-yt">
                <i class="ri-youtube-fill"></i>
            </a>
        </div>
    </div>
</section>

<section class="about section">
    <div class="about__container container grid">
        <div class="about__data">
            <p class="section__title about__title">Naveen Chaudhary
            </p>
            <p class="about__description">Founder & Designer of Adda Travelling.com
            </p>
            <div class="c__social">
                <a href="https://www.facebook.com/King143nd" target="_blank" class="al-fb">
                    <i class="ri-facebook-box-fill"></i>
                </a>
                <a href="https://instagram.com/naveen.chaudhary13" target="_blank" class="al-ig">
                    <i class="ri-instagram-fill"></i>
                </a>
                <a href="https://twitter.com/kingndnaveen" target="_blank" class="al-tw">
                    <i class="ri-twitter-fill"></i>
                </a>
                <a href="https://wa.me/+917999898702" target="_blank" class="al-wp">
                    <i class="ri-whatsapp-fill"></i>
                </a>
                <a href="tel:+917999898702" target="_blank" class="al-pn">
                    <i class="ri-phone-fill"></i>
                </a>
                <a href="mailto:nvnaveenchaudhary@gmail.com" target="_blank" class="al-em">
                    <i class="ri-mail-line"></i>
                </a>
            </div>
        </div>
        <div class="about__img">
            <div class="about__img-overlay">
                <img src="{% static 'assets/icon/IMG_20220309_180238_015.jpg' %}" alt="" class="about__img-one">
            </div>
            <div class="about__img-overlay">
                <img src="{% static 'assets/icon/IMG_20220309_174801_296.jpg' %}" alt="" class="about__img-two">
            </div>
        </div>
    </div>
</section>

<section class="about section">
    <div class="about__container container grid">
        <div class="about__data">
            <p class="section__title about__title">Ritik Jat
            </p>
            <p class="about__description">Co-Founder & Designer of Adda Travelling.com
            </p>
            <div class="c__social">
                <a href="https://www.facebook.com/ritik.jat.313" target="_blank" class="al-fb">
                    <i class="ri-facebook-box-fill"></i>
                </a>
                <a href="https://instagram.com/ritikjat7777" target="_blank" class="al-ig">
                    <i class="ri-instagram-fill"></i>
                </a>
                <a href="https://twitter.com/ritikjat" target="_blank" class="al-tw">
                    <i class="ri-twitter-fill"></i>
                </a>
                <a href="https://wa.me/+919691695572" target="_blank" class="al-wp">
                    <i class="ri-whatsapp-fill"></i>
                </a>
                <a href="tel:+916262525434" target="_blank" class="al-pn">
                    <i class="ri-phone-fill"></i>
                </a>
                <a href="mailto:rjritikjat@gmail.com" target="_blank" class="al-em">
                    <i class="ri-mail-line"></i>
                </a>
            </div>
        </div>
        <div class="about__img">
            <div class="about__img-overlay">
                <img src="{% static 'assets/icon/IMG-20220329-WA0002__01.jpg' %}" alt="" class="about__img-one">
            </div>
            <div class="about__img-overlay">
                <img src="{% static 'assets/icon/120104308_373334793681514_63134737231719870_n.jpg' %}" alt="" class="about__img-two">
            </div>
        </div>
    </div>
</section>

{% endblock %}
