<!-- ##### Base Template ##### -->
{% extends 'base.html' %}
{% block title%}Terms & Conditions{% endblock %}

{% load static %}

{% block body %}

<!--==================== HOME ====================-->

<section class="home" id="home">
    <img src="{% static 'assets/img/t&c.jpg' %}" alt="" class="home__img">
    <div class="home__container container grid">
        <div class="home__data">
            <h1 class="home__data-title">Terms Of<br><b>Service &<br>Agreements</b></h1>
            <h2 class="support__data-subtitle"><b>These Terms of Service your access to and use of our services, including our 
            Websites, SMS, APIs, Email Notifications, Buttons & Widgets. 
        </b></h2>
            <h3> </h3>
        </div>
        <div class="support__social">
            <a href="https://www.facebook.com/profile.php?id=100077115270793" target="_blank" class="sl-fb">
                <i class="ri-facebook-box-fill"></i>
            </a>
            <a href="https://instagram.com/adda_travelling?utm_medium=copy_link" target="_blank" class="sl-ig">
                <i class="ri-instagram-fill"></i>
            </a>
            <a href="https://twitter.com/AddaTravelling?t=B1e1tcvgpRRHx_3Keq51TQ&s=08" target="_blank" class="sl-tw">
                <i class="ri-twitter-fill"></i>
            </a>
            <a href="https://chat.whatsapp.com/C6hBVWVTERPCQNrABx5ad1" target="_blank" class="sl-wp">
                <i class="ri-whatsapp-fill"></i>
            </a>
            <a href="https://youtube.com/channel/UCpmFodDx9xfJ8YjAXGgcuxg" target="_blank" class="sl-yt">
                <i class="ri-youtube-fill"></i>
            </a>
        </div>
    </div>
</section>
<!--==================== ABOUT ====================-->
<section class="article section" id="article">
    <div class="article__container container grid">
        <div class="article__data">
            <p class="section__title article__title">Terms of<br>Service &<br>Agreements
            </p>
            <p class="article__para"><b>Our Website assists you in gathering travel information and determining the availability of travel products and services. It also allows you to book flight tickets, hotels, train tickets, car rentals, airport transfers and attraction tickets
            (“Travel Products”) provided by third party suppliers (“Suppliers”). Depending on what city you are booking in, Travel Products may also include ferry and bus tickets, tours, cruises and trips. We also provide customer support services
            for bookings made on our Website. These terms apply to these booking services. When you book a Travel Product, your booking is also subject to the relevant Supplier’s terms and conditions (for e.g., the airline’s or the hotel’s terms
            and conditions). It is important that you read these, as they form a separate legal agreement between you and the relevant Supplier. There is more information on this in each of the Travel Product sections below. If there are any inconsistencies
            between the Supplier’s terms and conditions and these terms & conditions apply. Different terms and conditions (such as cancellation and change rights) apply to different Travel Products, these will be made available to you during your
            booking process and form part of these terms. You should read them carefully before booking. These terms also tell you the rules for using our Website, including the content standards that apply when you upload content to our Website,
            link to our Website or interact with our Website in any other way. By using our Website and/or completing a booking with us, you confirm that you accept these terms and any relevant Supplier’s terms and conditions, and that you agree
            to comply with them. We recommend that you read these terms carefully (in particular section 10 on liability) and print a copy for future reference. If there is anything within these terms that you do not understand, please contact
            us using the details in section 1. If you do not agree to these terms, you must not use our Website or complete a booking with us. You warrant that you have capacity to enter into a legally binding contract (including being at least
            the required age to have capacity in your city) and that you will only use our Website to make legitimate reservations. If you are booking Travel Products for a number of individuals, the first name you provide will be responsible
            for <br><br>(i) providing accurate information on the other individuals,<br><br> (ii) accepting these terms on their behalf and ensuring that they comply with them,<br><br> (iii) checking the details in the booking confirmation and contacting us immediately
            if any of the details are incorrect, and<br><br> (iv) paying the full price of the booking and any additional charges in relation to the booking. <br><br>We may amend these terms from time to time. We will note the date that amendments were last made
            at the top of these terms, and any amendments will take effect upon posting. Every time you wish to use our Website and/or completing a booking with us, please check these terms to ensure you understand the terms that apply at that
            time. References to this Website are deemed to include derivatives, including but not limited to linked websites and applications, whether accessed by mobile phone, tablet or other device.
        </b></p>
        </div>
    </div>
</section>

{% endblock %}
